@import './settings';
@import 'bulma';

$z-index-step-size: 1;

// Classes to help screen readers, which Bulma does not provide for yet
// Source: https://github.com/jgthms/bulma/pull/153
.is-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.is-sr-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
